In [1]:
#for making connection between python and mysql
import mysql.connector as conn
mydb=conn.connect(host="localhost",user="root",passwd="abc123456")
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000028AFB5870A0>

In [2]:
cursor=mydb.cursor()

In [3]:
cursor.execute("show databases")

In [4]:
print(cursor.fetchall())

[('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',), ('world',)]

In [6]:
# create new database
cursor.execute("create database arun")

In [7]:
cursor.execute("show databases")

In [8]:
print(cursor.fetchall())

[('arun',), ('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',), ('world',)]

In [9]:
#create table in date base
s="create table arun.mycom(employee_id int(10),emp_name varchar(20),emp_email varchar(20),emp_salary int(10))"

In [10]:
cursor.execute(s)

In [11]:
cursor.execute("select * from arun.mycom")

In [12]:
print(cursor.fetchall())

[]

In [16]:
#insert data in table
m="insert into arun.mycom values(111,'arun kumar','arun.kumar@mail.com',1000)"

In [17]:
cursor.execute(m)

In [18]:
#commit is necessary for insert value in table
mydb.commit()

In [19]:
cursor.execute("select * from arun.mycom")

In [20]:
print(cursor.fetchall())

[(111, 'arun kumar', 'arun.kumar@mail.com', 1000)]

In [21]:
cursor.execute("select employee_id from arun.mycom")

In [22]:
print(cursor.fetchall())

[(111,)]

In [23]:
m="insert into arun.mycom values(112,'Trun kumar','tarun.kumar@mail.com',1000)"
cursor.execute(m)
mydb.commit()

In [24]:
cursor.execute("select * from arun.mycom")

In [25]:
for i in cursor.fetchall():
    print(i)

(111, 'arun kumar', 'arun.kumar@mail.com', 1000)
(112, 'Trun kumar', 'tarun.kumar@mail.com', 1000)